<div class="row">
    <div class="col-md-7 mt-2">
        <h5 class="mb-4 fw-bold">CASH DETAILS</h5>
    </div>
    <div class="col-md">
        <button class="btn btn-primary" routerLink="/main/dashboardpage/dashboardmain/dashboardview/remit">REMIT</button>
    </div>
</div>
          <form>
            <div class="form-group">
              <label for="userSelect">Select Cashier</label>
              <select id="userSelect" class="form-control" [(ngModel)]="selectedRole" (change)="onRoleChange($event)">
                <option value="cashier">Admin</option>
                <option value="cashier">Staff 1</option>
                <option value="cashier">Staff 2</option>
                <option value="cashier">Staff 3</option>
              </select>
            </div>

            <!-- <div *ngIf="selectedRole === 'cashier'"> -->
              <div class="row">
                <div class="col-md">
                  <div class="form-group mb-3">
                    <label for="changeFundInput">Initial Funds</label>
                    <input
                      type="number"
                      id="changeFundInput"
                      class="form-control"
                      [(ngModel)]="initialAmount"
                      name="initialAmount"
                    />
                  </div>
                </div>
              </div>
            <!-- </div> -->

            <div *ngIf="selectedRole === 'admin'">
              <div class="row">
                <!-- <div class="col-md">
                  <div class="form-group mb-3">
                    <label for="changeFundInput">Initial Amount</label>
                    <input
                      type="number"
                      id="changeFundInput"
                      class="form-control"
                      [(ngModel)]="initialAmount"
                      name="initialAmount"
                      (click)="openForms()"
                    />
                  </div> -->
            
                  <div class="form-group mb-3" [ngClass]="{'collapse': !isCollapsed}">
                    <label for="cashCountInput">Cash Count</label>
                    <input
                      type="text"
                      id="cashCountInput"
                      class="form-control"
                      [(ngModel)]="cashCount"
                      name="cashCount"
                      (click)="openForm()"
                    />
                  </div>
                <!-- </div> -->
              </div>
            </div>
            <!-- <div class="col-md">
              <label for="changeFundInput" >Cash Count</label>
              <button class="btn btn-primary" (click)="openForm()">Count</button>
            </div> -->


            <!-- <div class="form-group mb-3">
              <label for="cashCountInput">Cash Count</label>
              <input
                (click)="openForm()"
                type="text"
                id="cashCountInput"
                class="form-control"
                [(ngModel)]="initialAmount"
                name="cashCount"
      
              />
            </div> -->


            <!-- <div *ngIf="selectedAdmin === 'admin'">
              <div class="row">
                <div class="col-md">
                  <div class="form-group mb-3">
                    <label for="changeFundInput">Initial Amount</label>
                    <input
                      type="number"
                      id="changeFundInput"
                      class="form-control"
                      [(ngModel)]="initialAmount"
                      name="initialAmount"
                    />
                  </div>
                </div>
              </div>
            </div> -->

            <div *ngIf="selectedCashier  === 'cashier'">
              <div class="row">
                <div class="col-md">
                  <div class="form-group mb-3">
                    <label for="cashCountInput">Cash Count</label>
                    <input
                      (click)="openForm()"
                      type="text"
                      id="cashCountInput"
                      class="form-control"
                      [(ngModel)]="cashCount"
                      name="cashCount"
            
                    />
                  </div>
                </div>
                <!-- <div class="col-md">
                  <label for="changeFundInput">Cash Count</label>
                    <button class="btn btn-primary">Count</button>
                </div> -->
              </div>
            </div>
              <!-- <div class="form-group mb-3">
                <label for="changeFundInput">Initial Amount</label>
                <input
                  type="number"
                  id="changeFundInput"
                  class="form-control"
                  [(ngModel)]="initialAmount"
                  name="initialAmount"
                  
                />
              </div> -->
              
              <!-- placeholder="2,400.00" -->
              <!-- [disabled]="initialAmount" -->
              
              <!-- <div class="form-group mb-3">
                <label for="cashCountInput">Cash Count</label>
                <input
                  (click)="openForm()"
                  type="text"
                  id="cashCountInput"
                  class="form-control"
                  [(ngModel)]="cashCount"
                  name="cashCount"
        
                />
              </div> -->
            
            <!-- <div *ngIf="selectedCashier">
              <h4>Selected Cashier: {{ getSelectedCashierName() }}</h4>
              <p>Initial Amount: {{ initialAmount }}</p>
              <p>Cash Count: {{ cashCount }}</p>
            </div> -->

          <div class="row">
            <div class="col-6">
              <button type="button" class="btn btn-primary w-100">
                CLEAR
              </button>
            </div>
            <div class="col-6">
              <!-- <button type="button" class="btn btn-success w-100" [disabled]="!isFormValid()">SUBMIT</button> -->
              <button type="button" class="btn btn-success w-100" (click)="toggleCollapse()">SUBMIT</button>            </div>
          </div>
          </form>