<div class="row align-items-center">
  <div class="col-md-8 col-sm-12 mt-2">
    <h5 class="mb-4 fw-bold text-center text-md-start">CASH DETAILS</h5>
  </div>
  <div class="col-md-4 col-sm-12 text-center text-md-end">
    <button
      class="btn btn-primary btn-sm"
      routerLink="/main/dashboardpage/dashboardmain/dashboardview/remit"
    >
      REMIT
    </button>
  </div>
</div>

<form [formGroup]="InitialFrom" (submit)="save()" class="mt-3">
  <div class="form-group mb-3">
    <label for="userSelect">Select Cashier</label>
    <select id="userSelect" class="form-control" formControlName="Staff_ID">
      <option value="" selected>Select Cashier</option>
      <ng-container *ngFor="let c of staff">
        <option [value]="c.Admin_ID">
          {{ c.Admin_fname }} {{ c.Admin_lname }} {{ c.Admin_mname }}
        </option>
      </ng-container>
    </select>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="form-group mb-3">
        <label for="changeFundInput">Initial Funds</label>
        <input
          type="number"
          id="changeFundInput"
          class="form-control"
          formControlName="Initial_amount"
          min="0"
          (input)="enforceNonNegative()"
        />
      </div>
    </div>
    <div class="col-md-6 col-sm-12 text-center text-md-start">
      <button
        class="btn btn-primary btn-sm mt-3 w-100"
        routerLink="/main/dashboardpage/dashboardmain/dashboardview/details"
      >
        CASH VIEW
      </button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-6">
      <button type="button" class="btn btn-primary w-100" (click)="clearForm()">
        CLEAR
      </button>
    </div>
    <div class="col-6">
      <button type="submit" class="btn btn-success w-100">SUBMIT</button>
    </div>
  </div>
</form>
