<div class="container">
  <div class="row" id="price-management-section">
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <div class="row mb-4">
            <div class="col">
              <h3 class="fw-bold">PRICE MANAGEMENT</h3>
            </div>
            <div class="col-md-6 col-lg-4 mt-2">
              <div class="form-group">
                <div class="row">
                  <div class="col">
                    <div class="d-flex form-inputs">
                      <input
                        class="form-control"
                        type="text"
                        placeholder="Search category..."
                        [(ngModel)]="searchTerm"
                        (input)="filterCategories()"
                      />
                      <i class="bx bx-search"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Table for displaying filtered categories -->
          <div class="table-responsive table-wrapper">
            <table class="table table-bordered table-hover rounded">
              <thead class="sticky-thead">
                <tr class="text-center">
                  <th class="col-md-1">No.</th>
                  <th>Laundry Category</th>
                  <th>Per Kilogram</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <!-- Use @for to iterate over the filteredCategories -->
                @for(c of filteredCategories; track c.Categ_ID) {
                <tr>
                  <td class="text-center col-md-1">{{ $index + 1 }}</td>
                  <td class="text-center">{{ c.Category }}</td>
                  <td class="text-center">{{ c.Price }}</td>
                  <td class="text-center">
                    <button
                      class="btn bg-primary mx-2 text-light btn-custom-sm"
                      (click)="updatebtn(c.Categ_ID)"
                    >
                      <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button
                      class="btn bg-danger text-light btn-custom-sm"
                      (click)="dltbtn(c.Categ_ID)"
                    >
                      <i class="fa fa-trash-o"></i>
                    </button>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
