<div class="text-right mb-3">
  <!-- <button [useExistingCss]="true" printSectionId="print-section" ngxPrint class="btn btn-success me-1"><i class="fa fa-print"></i></button>-->
  <a class="btn btn-primary w-md" [routerLink]="['/main/pricemanagementpage/pricemgtview']">Back</a> 
</div>
<form [formGroup]="categoryForm" (submit)="update()">
  <div class="bg-white p-4">
    <h4 class="text-center mb-4"><b>EDIT CATEGORY</b></h4>
    <div>
      <div class="row mb-3">
        <div class="col-md-12">
          <div class="form-outline">
            <input
              type="text"
              id="form7Example1"
              class="form-control"
              formControlName="Category"
              placeholder="Enter laundry name"
            />
            <label class="form-label" for="form7Example1">Laundry Name</label>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-12">
          <div class="form-outline">
            <input
              type="number"
              id="form7Example2"
              class="form-control"
              formControlName="Price"
              placeholder="Price per kilogram"
              [min]="0"
              (input)="onNumberInput($event)"
            />
            <label class="form-label" for="form7Example2">Per Kilograms</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <button
            type="button"
            class="btn btn-secondary w-100 mb-3"
            (click)="clear()"
          >
            Clear
          </button>
        </div>
        <div class="col-md-6">
          <button type="submit" class="btn btn-primary w-100 mb-3">
            Update
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
