<div class="bg-white p-3 rounded">
    <div class="container">
      <div class="row">
        <div class="field" text-align="left">
          <h4 class="text-center"><b>UPLOAD IMAGE</b></h4>
          <input type="file" (change)="onFileSelected($event)" accept="image/*">
          
          <div class="image-preview img-fluid">
            <img *ngIf="imagePreview" [src]="imagePreview" alt="Image preview" class="preview-image" style="width: auto; height: 180px;">
            <!-- <img *ngIf="!imagePreview" src="assets/placeholder-image.png" alt="Placeholder" class="preview-image" style="width: 150p; height: 180px;"> -->
          </div>

          <p *ngIf="message" [ngClass]="{'success': message.includes('successfully'), 'error': message.includes('Error')}">
            <!-- {{ message }} -->
          </p>
          
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-6">
          <button type="button" class="btn btn-primary btn-block mb-3" [routerLink]="['/main/staffpage/staffmain']">Cancel</button>
        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-success btn-block mb-3" (click)="onUpload()">Upload</button>
        </div>
      </div>
    </div>
  </div>
  