<div class="row">
    <div class="col-md text-center mt-2">
        <h5 class="mb-4 mx-2 fw-bold">REMITTANCE</h5>
    </div>
    <div class="col-md">
        <button class="btn btn-primary" routerLink="/main/dashboardpage/dashboardmain/dashboardview/cashdetails">BACK</button>
    </div>
</div>
<form [formGroup]="cashout" (submit)="save()">
  <div class="row">
    <div class="col-md">
      <div class="form-group mb-3">
        <input
          type="hidden"
          id="changeFundInput"
          class="form-control"
          formControlName="Admin_ID"
        />
        <label for="changeFundInput">Cash Count</label>
        <input
          type="number"
          id="changeFundInput"
          class="form-control"
          formControlName="Remitance"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <button type="button" class="btn btn-primary w-100">
        CLEAR
      </button>
    </div>
    <div class="col-6">
      <button type="submit" class="btn btn-success w-100">REMIT</button>
    </div>
  </div>
</form>