<section class="hero">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <h2 class="active"><b>ADMIN LOGIN</b></h2>
      <div class="fadeIn first">
        <img src="" id="icon" alt="" />
      </div>

      <form [formGroup]="loginform" (submit)="login()">
        <!-- Error Message -->
        <div
          id="wrong"
          class="text-center text-danger mx-4 rounded mb-3"
          style="display: none"
        >
          Either the Username or Password you've entered is incorrect!
        </div>

        <!-- Username Input -->
        <input
          type="text"
          id="username"
          class="fadeIn second"
          name="username"
          placeholder="Username"
          formControlName="Email"
        />

        <div
          id="nousername"
          class="text-danger mt-2 mb-3"
          style="display: none"
        >
          <small>Please input a username</small>
        </div>

        <!-- Password Input with Eye Icon -->
        <div style="position: relative; width: 100%">
          <input
            [type]="showPassword ? 'password' : 'text'"
            id="password"
            class="fadeIn third password-input"
            name="password"
            placeholder="Password"
            formControlName="Password"
          />
          <i
            (click)="togglePasswordVisibility()"
            class="fa {{
              showPassword ? 'fa-eye-slash' : 'fa-eye'
            }} password-toggle-icon"
          ></i>
        </div>

        <div
          id="nopassword"
          class="text-danger mt-2 mb-3"
          style="display: none"
        >
          <small>Please input a password</small>
        </div>

        <!-- Submit Button -->
        <input type="submit" class="fadeIn fourth btn" value="LOG-IN" />
      </form>
    </div>
  </div>

  <!-- Decorative Laundry Baskets -->
  <img
    src="./basket 3.png"
    alt="Laundry Basket 1"
    class="laundry-basket basket-left"
  />
  <img
    src="./basket 4.png"
    alt="Laundry Basket 2"
    class="laundry-basket basket-right"
  />
</section>
