<section
  style="
    background-image: url(/image/bg.png);
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #f8fafd;
  "
>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <h2 class="active"><b>ADMIN LOGIN</b></h2>
      <div class="fadeIn first">
        <img src="" id="icon" alt="" />
      </div>

      <form [formGroup]="loginform" (submit)="login()">
        <div
          id="wrong"
          class="text-center text-danger mx-4 rounded mb-3"
          style="display: none"
        >
          Either the Username or Password you've entered is incorrect!
        </div>

        <input
          type="text"
          id="username"
          class="fadeIn second"
          name="username"
          placeholder="Username"
          formControlName="Email"
        />

        <div
          id="nousername"
          class="text-danger mt-2 mb-3"
          style="display: none"
        >
          <small>Please input a username</small>
        </div>
        
        <div style="position: relative; display: inline-block; width: 100%;">
          <input
            [type]="showPassword ? 'password' : 'text'"
            id="password"
            class="fadeIn third"
            name="password"
            placeholder="Password"
            formControlName="Password"
            style="padding-right: 40px;"/>
          <i
            (click)="togglePasswordVisibility()"
            class="fa {{ showPassword ? 'fa-eye-slash' : 'fa-eye' }} password-toggle-icon"
            style="position: absolute; right: 70px; top: 50%; transform: translateY(-50%); cursor: pointer;"></i>
        </div>

        <div
          id="nopassword"
          class="text-danger mt-2 mb-3"
          style="display: none"
        >
          <small>Please input a password</small>
        </div>
        <input
          type="submit"
          class="fadeIn fourth btn"
          value="Log In"
        />
        
      </form>
    </div>
  </div>
</section>
