<div class="container my-3" id="print-section">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-4">
            <div class="col-md-9">
              <h3 class="fw-bold">LIST OF UNPAID</h3>
            </div>
            <div class="col-md-6 col-lg-3 mt-2">
              <div class="form-group">
                <div class="row">
                  <div class="col">
                    <div class="d-flex form-inputs">
                      <input
                        class="form-control"
                        type="text"
                        placeholder="Search unpaid..."
                        [(ngModel)]="keyword"
                      />
                      <i class="bx bx-search"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="table-responsive table-wrapper">
            <table class="table table-bordered table-hover rounded">
              <thead class="sticky-thead">
                <tr class="text-center">
                  <th>Transaction</th>
                  <th>Customer Name</th>
                  <th>Date Time</th>
                  <th>Laundry Details</th>
                  <th>Amount</th>
                  <!-- <th>Status</th> -->
                  <th>Cashier in Charge</th>
                </tr>
              </thead>
              <tbody>
                @for(t of trans | searchfilter: keyword; track t.Transac_ID){
                <tr class="text-center">
                  <td>{{ t.Tracking_number }}</td>
                  <td>{{ t.Cust_fname }} {{ t.Cust_lname }}</td>
                  <td>{{ t.Transac_datetime }}</td>
                  <td>{{ t.Category }}</td>
                  <td class="">{{ t.totalprice }}</td>
                  <!-- <td class="">{{t.Transac_status}}</td> -->
                  <td class="">{{ t.Admin_fname }} {{ t.Admin_lname }}</td>
                  <!-- <td><button class="btn btn-primary" (click)="Approved(t.Tracking_number)">Approve</button></td> -->
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
