<div class="container my-3" id="print-section">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-4">
            <div class="col">
              <h3 class="fw-bold">LIST OF CUSTOMER</h3>
            </div>
            <div class="col-md-6 col-lg-3 mt-2">
              <div class="form-group">
                <div class="row">
                  <div class="col">
                    <input
                      type="search"
                      class="form-control"
                      id="search-from"
                      name="search-from"
                      placeholder="Search"
                    />
                  </div>
                </div>
              </div>
            </div>

            <!-- <div class="col-md-6">
              <div class="d-flex justify-content-end">
                <button
                    class="btn btn-success pri mb-3"
                    [useExistingCss]="true"
                    printSectionId="print-section"
                    ngxPrint
                  >
                    <i class="fas fa-print"></i> Print
                  </button>
              </div>
            </div> -->
          </div>
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead class="table-light">
                <tr class="text-center">
                  <th>No.</th>
                  <th>Customer Image</th>
                  <th>Customer Name</th>
                  <th>Contact Phone #</th>
                  <th>Address</th>
                  <th>Email</th>
                </tr>
              </thead>
              <tbody>
              @for(c of cust; track c.Cust_ID){
                <tr
                  class="text-center"
                  (click)="history(c.Cust_ID)"
                >
                  <td>{{$index+1}}</td>
                  <td>{{c.Cust_image}}</td>
                  <td>{{c.Cust_fname}} {{c.Cust_mname}} {{c.Cust_lname}}</td>
                  <td>{{c.Cust_phoneno}}</td>
                  <td>{{c.Cust_address}}</td>
                  <td>{{c.Cust_email}}</td>
                  <!-- <td><button class="btn btn-success" (click)="Approved()">View</button></td> -->
                </tr>
              }
              </tbody>
              <!-- <tfoot class="text-center">
                  <tr>
                    <th>Total</th>
                    <th></th>
                    <th id="total-amount">₱ 15000</th>
                    <th id="total-amount">₱ 15000</th>
                    <th id="total-amount">₱ 100</th>
                  </tr>
                </tfoot> -->
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
