<div class="container my-3">
  <div class="row" id="staff-management-section">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <!-- Header Section -->
          <div class="row align-items-center mb-4">
            <div class="col-12 col-md-8 mb-2 mb-md-0">
              <h3 class="fw-bold text-center text-md-start">
                STAFF MANAGEMENT
                <button class="btn btn-primary btn-sm ms-2" (click)="add()">
                  + ADD STAFF
                </button>
              </h3>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <div class="search-bar">
                  <input
                    type="text"
                    class="search-input"
                    placeholder="Search staff..."
                    [(ngModel)]="searchTerm"
                  />
                  <span class="search-icon">
                    <i class="bx bx-search"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!-- End Header Section -->

          <!-- Scrollable Cards -->
          <div class="card-container">
            <!-- Loop through staff data -->
            @for (staff of filteredStaff | searchfilter: searchTerm; track
            staff.Admin_ID) {
            <div class="staff-card">
              <div class="staff-card-body">
                <div class="image-container">
                  <img
                    [src]="staff.Admin_image"
                    alt="{{ staff.Admin_fname }} {{ staff.Admin_lname }}"
                    class="staff-image"
                    (click)="upload(staff.Admin_ID)"
                  />
                </div>
                <div class="details" (click)="update(staff.Admin_ID)">
                  <h5 class="fw-bold">
                    {{ staff.Admin_fname }} {{ staff.Admin_mname }}
                    {{ staff.Admin_lname }}
                  </h5>
                  <p>Address: {{ staff.Address }}</p>
                  <p>Phone: {{ staff.Phone_no }}</p>
                  <p>Email: {{ staff.Email }}</p>
                </div>
                <div class="actions">
                  <button
                    class="btn btn-danger btn-sm"
                    (click)="dltbtn(staff.Admin_ID)"
                  >
                    <i class="fa fa-trash-o"></i>
                  </button>
                </div>
              </div>
            </div>
            }
          </div>
          <!-- End Scrollable Cards -->
        </div>
      </div>
    </div>
  </div>
</div>
