<div class="container">
  <div class="row" id="staff-management-section">
    <div class="col md">
      <div class="card">
        <div class="card-body">
          <div class="row mb-4">
            <div class="col">
              <h3 class="fw-bold">LIST OF STAFF MEMBERS<span (click)="add()" class="btn btn-primary mx-2 sm"> + ADD STAFF</span></h3>
            </div>
            <div class="col-md-6 col-lg-4 mt-2">
              <div class="form-group">
                <div class="row">
                  <div class="col">
                    <div class="d-flex form-inputs">
                      <input
                        class="form-control"
                        type="text"
                        placeholder="Search staff..."
                        [(ngModel)]="searchTerm"
                      />
                      <i class="bx bx-search"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="table-responsive table-wrapper">
            <table class="table table-bordered table-hover rounded">
              <thead class="sticky-thead">
                <tr class="text-center">
                  <th>No.</th>
                  <th>Image</th>
                  <th>Staff Name</th>
                  <th>Address</th>
                  <th>Phone No.</th>
                  <th>Email</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <!-- Use @for to iterate over the filteredStaff list -->
                @for(staff of filteredStaff | searchfilter: searchTerm; track
                staff.Admin_ID) {
                <tr>
                  <td class="text-center">{{ $index + 1 }}</td>
                  <td>
                    <img
                      (click)="upload(staff.Admin_ID)"
                      [src]="staff.Admin_image"
                      alt="{{ staff.Admin_fname }} {{ staff.Admin_lname }}"
                      class="img-thumbnail"
                      height="70"
                      width="70"
                    />
                    <!-- <img
                      [src]="
                        staff.Admin_image
                          ? 'http://localhost/admin/profile_images/' +
                            staff.Admin_image
                          : 'http://placehold.it/50x50'
                      "
                      alt="{{ staff.Admin_fname }} {{ staff.Admin_lname }}"
                      class="img-thumbnail"
                      height="50"
                      width="50"
                    /> -->
                  </td>
                  <td (click)="update(staff.Admin_ID)">
                    {{ staff.Admin_fname }} {{ staff.Admin_mname }}
                    {{ staff.Admin_lname }}
                  </td>
                  <td (click)="update(staff.Admin_ID)">{{ staff.Address }}</td>
                  <td (click)="update(staff.Admin_ID)">{{ staff.Phone_no }}</td>
                  <td (click)="update(staff.Admin_ID)">{{ staff.Email }}</td>
                  <td class="text-center">
                    <!-- <button
                      class="btn bg-primary text-light btn-custom-sm"
                      (click)="update(staff.Admin_ID)"
                    >
                      <i class="fas fa-pencil-alt"></i>
                    </button> -->
                    <!-- <button
                      class="btn btn-success btn-custom-sm mx-1"
                      (click)="upload(staff.Admin_ID)"
                    >
                      <i class="fa fa-upload"></i>
                    </button> -->
                    <button
                      class="btn bg-danger text-light btn-custom-sm "
                      (click)="dltbtn(staff.Admin_ID)"
                    >
                      <i class="fa fa-trash-o"></i>
                    </button>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div> -->
  </div>
</div>
