<div class="row mb-3 mt-3">
  <div class="col-12">
    <h3 class="text-center styled-heading">
      <!-- laundry-icon -->
      <i class="fa-solid fa-clipboard laundry-icon"></i>
      Transactions
    </h3>
  </div>
</div>

<div class="mt-4 mb-1">
  <div class="row justify-content-center justify-content-md-start">
    <div class="col-12 col-sm-6 col-md-3 col-lg-2 mb-2">
      <button
        type="submit"
        class="btn btn-nav w-100 text-nowrap active"
        [routerLink]="['/main/tansactionpage/main/view-tran/viewtransac']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        DAILY
      </button>
    </div>
    <div class="col-12 col-sm-6 col-md-3 col-lg-2 mb-2">
      <button
        type="submit"
        class="btn btn-nav w-100 text-nowrap active"
        [routerLink]="['/main/tansactionpage/main/view-tran/cashdetails/remit']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        CASH DETAILS
      </button>
    </div>
    <div class="col-12 col-sm-6 col-md-3 col-lg-2 mb-2">
      <button
        type="submit"
        class="btn btn-nav w-100 text-nowrap"
        [routerLink]="['/main/tansactionpage/main/view-tran/remittanceview']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        CASH REMITTED
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <router-outlet></router-outlet>
  </div>
</div>
