.container {
  max-width: 100%;
}

.end {
  margin: 3px;
  float: right;
}

.hidden {
  display: none;
}

.sticky-thead {
  position: sticky;
  top: 0;
  background-color: #f8f9fa;
  z-index: 2;
}

.table-wrapper {
  max-width: 100%;
  overflow-y: auto;
  max-height: 30vh;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  h2, h3 {
    font-size: 1.2rem;
  }
  .table-wrapper {
    font-size: 0.9rem;
  }
}
