.end {
  margin: 10px;
  float: right;
}
.hidden {
  display: none;
}
.sticky-thead {
  position: sticky;
  top: 0;
  /* background-color: rgb(184,219,240); */
}
.table-wrapper {
  max-width: 100%;
  overflow-y: scroll;
  height: fit-content;
  max-height: 26vh;
  margin-top: 22px;
  /* margin: 15px; */
  padding-bottom: 20px;
  text-align: d-flex;
  scrollbar-width: none; /* For Firefox */
}

.table-wrapper::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}
