<div class="container my-3" id="print-section">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-4">
            <div class="col-md-12">
              <h3 class="fw-bold">Customer Transactions Record</h3>
              <div class="row">
                <div class="col-md-4">
                  <img
                    class="img-responsive img-fluid"
                    alt="logo"
                    src="https://bootdey.com/img/Content/avatar/avatar6.png"
                  />
                </div>
                <div class="col-md">
                  <div class="row mt-5">
                    <h5>Customer Name:</h5>
                    <h2 class="mt-4">Juan Dela Cruz</h2>
                    <div class="col-md mt-1">
                      <p class="mt-4"><b>Phone Number:</b></p>
                      <p>09123456789</p>
                    </div>
                    <div class="col-md mt-1">
                      <p class="mt-4"><b>Customer Address:</b></p>
                      <p>Artacho, Sison, Pangasinan</p>
                    </div>
                    <div class="col-md mt-1">
                      <p class="mt-4"><b>Customer Email:</b></p>
                      <p>Sample.gmail.com</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="d-flex justify-content-end">
                <!-- <button
                    class="btn btn-success pri mb-3"
                    [useExistingCss]="true"
                    printSectionId="print-section"
                    ngxPrint
                  >
                    <i class="fas fa-print"></i> Print
                  </button> -->
              </div>
            </div>
          </div>
          <h3 class="mb-2 text-center">Transaction History</h3>
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead class="table-light">
                <tr class="text-center">
                  <th>No.</th>
                  <th>Transaction Number</th>
                  <th>Received Date</th>
                  <th>Staff Received</th>
                  <th>Laundry Deatils</th>
                  <th>Amount</th>
                  <th>Status</th>
                  <th>Date Delivered</th>
                  <th>Staff-in-charge</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  class="text-center"
                  routerLink="/main/customertpage/main/view-listtransac"
                >
                  <td>1</td>
                  <td>SDGS5234</td>
                  <td>11/20/2024</td>
                  <th>Marie De Leon</th>
                  <td>3kl Assorted Clothes, 2kl Carpet</td>
                  <td>500.00</td>
                  <td>Paid and Picked-up</td>
                  <td>11/20/2024</td>
                  <th>Carlo Katigbak</th>
                </tr>
                
                <tr
                  class="text-center"
                  routerLink="/main/customertpage/main/view-listtransac"
                >
                  <td>2</td>
                  <td>SDGS5234</td>
                  <td>11/20/2024</td>
                  <th>Marie De Leon</th>
                  <td>3kl Assorted Clothes, 2kl Carpet</td>
                  <td>500.00</td>
                  <td>Paid and Picked-up</td>
                  <td></td>
                  <th></th>
                </tr>
              </tbody>
              <!-- <tfoot class="text-center">
                  <tr>
                    <th>Total</th>
                    <th></th>
                    <th id="total-amount">₱ 15000</th>
                    <th id="total-amount">₱ 15000</th>
                    <th id="total-amount">₱ 100</th>
                  </tr>
                </tfoot> -->
            </table>
          </div>
        </div>
      </div>
      <button
        class="end btn btn-primary"
        routerLink="/main/customertpage/main/view"
      >
        Back
      </button>
    </div>
  </div>
</div>
