<div class="container my-3" id="print-section">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-4">
            <div class="col-md-6">
              <h3 class="fw-bold">LIST OF REMITTANCE</h3>
            </div>
          </div>
          <div class="table-responsive table-wrapper">
            <table class="table table-bordered table-hover rounded">
              <thead class="sticky-thead">
                <div class="loader-container" *ngIf="isLoading">
                  <div class="spinner"></div>
                </div>
                <tr class="text-center">
                  <th>DateTime</th>
                  <th>Cashier in Charge</th>
                  <th class="text-right">Initial Amount</th>
                  <th class="text-right">Total Collection</th>
                  <th class="text-right">Expenditure</th>
                  <th class="text-right">Remittance</th>
                  <th class="text-right">Net Profit/ <span class="text-danger">Loss</span></th>
                </tr>
              </thead>
              <tbody>
                @for(d of remit; track d.Cash_ID){
                  <tr class="text-center"*ngIf="!isLoading && remit.length > 0" (click)="print(d.Cash_ID)">
                    <td>{{ d.remitYear }}-{{d.remitMonth }}-{{ d.remitDay }}</td>
                    <td>{{d.name}}</td>
                    <td class="text-right">{{d.initialAmount | currency: ' ':'symbol'}}</td>
                    <td class="text-success text-right">{{d.paymentAmount | currency: ' ':'symbol'}}</td>
                    <td class="text-danger text-right">{{d.ExpensesAmount | currency: ' ':'symbol'}}</td>
                    <td class="text-primary text-right">{{d.remitAmount | currency: ' ':'symbol'}}</td>
                    <!-- <td class="text-primary">{{ (d.totalpayment - d.Initial_amount) - d.totalexpense - d.Remitance}}</td> -->
                    <!-- <td class=""
                        [ngClass]="d.totalprofit > 0 ? 'text-success' : 'text-danger'">
                        {{d.totalprofit}}
                    </td> -->
                    <td class="text-right"
                      [ngClass]="d.totalprofit >= 0 ? 'text-success' : 'text-danger'">
                      {{ getAbsoluteProfit(d.totalprofit) | currency: ' ':'symbol' }}
                    </td>
                    <!-- <td class="text-danger">
                      <button class="btn btn-primary" (click)="approved()">Approved</button>
                    </td> -->
                  </tr>
                }
              </tbody>
              <!-- <tfoot class="text-center">
                <tr>
                  <th>Total</th>
                  <th></th>
                  <th id="total-amount">12,400.00</th>
                  <th id="total-amount" class="text-success">12,400.00</th>
                  <th id="total-amount" class="text-danger">340.00</th>
                  <th id="total-amount" class="text-primary">12,060.00</th>
                </tr>
              </tfoot> -->
            </table>
            <div *ngIf="!isLoading && remit.length === 0" class="text-center">
              <p>No remittances have been approved.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
