<div class="container my-3" id="print-section">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-4">
            <div class="col-md-6">
              <h3 class="fw-bold">LIST OF REMITTANCE</h3>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead class="table-light">
                <tr class="text-center">
                  <th>DateTime</th>
                  <th>Cashier in Charge</th>
                  <th>Initial Amount</th>
                  <th>Total Collection</th>
                  <th>Expenditure</th>
                  <th>Remittance</th>
                  <th>Net Profit/ <span class="text-danger">Loss</span></th>
                </tr>
              </thead>
              <tbody>
                @for(d of remit; track d.id){
                  <tr class="text-center" (click)="print(d.id)">
                    <td>{{d.date}}</td>
                    <td>{{d.name}}</td>
                    <td>{{d.initialAmount}}</td>
                    <td class="text-success">{{d.paymentsAmount}}</td>
                    <td class="text-danger">{{d.expenseAmount}}</td>
                    <td class="text-primary">{{d.remitamount}}</td>
                    <!-- <td class="text-primary">{{ (d.totalpayment - d.Initial_amount) - d.totalexpense - d.Remitance}}</td> -->
                    <td class="" 
                        [ngClass]="d.totalprofit > 0 ? 'text-success' : 'text-danger'">
                        {{d.totalprofit}}
                    </td>
                    <!-- <td class="text-danger">
                      <button class="btn btn-primary" (click)="approved()">Approved</button>
                    </td> -->
                  </tr>
                }
              </tbody>
              <!-- <tfoot class="text-center">
                <tr>
                  <th>Total</th>
                  <th></th>
                  <th id="total-amount">12,400.00</th>
                  <th id="total-amount" class="text-success">12,400.00</th>
                  <th id="total-amount" class="text-danger">340.00</th>
                  <th id="total-amount" class="text-primary">12,060.00</th>
                </tr>
              </tfoot> -->
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
