<div class="container my-3" id="print-section">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-4">
            <div class="col-md-6">
              <h3 class="fw-bold">LIST OF REMITTANCE</h3>
            </div>
          </div>
          <!-- <div class="row mb-4">
            <div class="col-md-6 col-lg-3">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 mt-2">
                    <label for="search-from">From:</label>
                  </div>
                  <div class="col">
                    <input
                      type="date"
                      class="form-control"
                      id="search-from"
                      name="search-from"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-1 mt-2">
                    <label for="search-from">To:</label>
                  </div>
                  <div class="col">
                    <input
                      type="date"
                      class="form-control"
                      id="search-from"
                      name="search-from"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead class="table-light">
                <tr class="text-center">
                  <th>DateTime</th>
                  <th>Cashier in Charge</th>
                  <th>Initial Amount</th>
                  <th>Total Collection</th>
                  <th>Expenditure</th>
                  <th>Remittance</th>
                  <th>Net Profit/Loss</th>
                </tr>
              </thead>
              <tbody>
                @for(d of remit; track d.Staff_ID){
                  <tr class="text-center" (click)="print(d.Staff_ID)">
                    <td>{{d.Datetime_Changefund}}  - {{d.Datetime_Remitance}}</td>
                    <td>{{d.Admin_lname}} {{d.Admin_fname}} {{d.Admin_mname}}</td>
                    <td>{{d.Initial_amount}}</td>
                    <td class="text-success">{{d.totalpayment }}</td>
                    <td class="text-danger">{{d.totalexpense}}</td>
                    <td class="text-primary">{{d.Remitance}}</td>
                    <!-- <td class="text-primary">{{ (d.totalpayment - d.Initial_amount) - d.totalexpense - d.Remitance}}</td> -->
                    <td class="" 
                        [ngClass]="((d.totalpayment - d.Initial_amount) - d.totalexpense - d.Remitance) > 0 ? 'text-success' : 'text-danger'">
                        {{ (d.totalpayment - d.Initial_amount) - d.totalexpense - d.Remitance}}
                    </td>
                    <!-- <td class="text-danger">
                      <button class="btn btn-primary" (click)="approved()">Approved</button>
                    </td> -->
                  </tr>
                }
              </tbody>
              <!-- <tfoot class="text-center">
                <tr>
                  <th>Total</th>
                  <th></th>
                  <th id="total-amount">12,400.00</th>
                  <th id="total-amount" class="text-success">12,400.00</th>
                  <th id="total-amount" class="text-danger">340.00</th>
                  <th id="total-amount" class="text-primary">12,060.00</th>
                </tr>
              </tfoot> -->
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
