<div class="container">
  <div class="receipt-main">
    <div class="receipt-header">
      <div class="receipt-left">
        <img
          class="img-responsive"
          alt="logo"
          src="https://bootdey.com/img/Content/avatar/avatar6.png"
        />
      </div>
      <div class="receipt-right text-right">
        <h5>S2K LAUNDRY SERVICES</h5>
        <p>+1 3649-6589 <i class="fa fa-phone"></i></p>
        <p>companygmail.com <i class="fa fa-envelope-o"></i></p>
        <p>USA <i class="fa fa-location-arrow"></i></p>
      </div>
    </div>

    <div class="receipt-header-mid">
      <div class="">
        <h5>Juan Dela Cruz</h5>
        <p><b>Mobile :</b> +1 12345-4569</p>
        <p><b>Email :</b> customergmail.com</p>
        <p><b>Address :</b> New York, USA</p>
      </div>
      <div class="receipt-left">
        <h3>TRANSACTION # 763YGSAJGFz</h3>
      </div>
    </div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>No.</th>
          <th>Category</th>
          <th>QTY</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Assorted</td>
          <td>5</td>
          <td>700.00</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Pants</td>
          <td>4</td>
          <td>500.00</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Jacket</td>
          <td>3</td>
          <td>500.00</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td class="text-right">
            <p><strong>Total Amount: </strong></p>
            <p><strong>Amount Received: </strong></p>
            <p><strong>Balance: </strong></p>
          </td>
          <td>
            <p>
              <strong>1,700.00</strong>
            </p>
            <p>
              <strong>2,000.00</strong>
            </p>
            <p>
              <strong>300.00</strong>
            </p>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td class="text-right">
            <h2><strong>Total: </strong></h2>
          </td>
          <td class="text-left text-danger">
            <h2>
              <strong>1,700.00</strong>
            </h2>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="receipt-footer">
      <div class="footer-left">
        <p><b>Date :</b> 15 Aug 2016</p>
        <h5 style="color: rgb(140, 140, 140)">Thanks for Patient!</h5>
      </div>
      <div class="footer-right">
        <button
          class="end btn btn-primary mx-2"
          routerLink="/main/customertpage/main/view"
        >
          Back
        </button>
        <button class="end btn btn-success" routerLink="">Print</button>
      </div>
    </div>
  </div>
</div>
