<div class="container">
    <div class="receipt-main">
        <h2 class="text-center">REMITTANCE REPORT</h2>
      <div class="receipt-header">
        <div class="receipt-left">
          <img
            class="img-responsive"
            alt="logo"
            src="https://bootdey.com/img/Content/avatar/avatar6.png"
          />
        </div>
        <div class="receipt-right text-right">
          <h5>S2K LAUNDRY SERVICES</h5>
          <h5>07/18/2024 - 18:03:23</h5>
          <!-- <p>+1 3649-6589 <i class="fa fa-phone"></i></p>
          <p>companygmail.com <i class="fa fa-envelope-o"></i></p>
          <p>USA <i class="fa fa-location-arrow"></i></p> -->
        </div>
      </div>
  
      <div class="receipt-header-mid">
        <div class="">
          <h5>Juan Dela Cruz</h5>
        </div>
        <!-- <div class="receipt-left">
          <h3>INITIAL AMOUNT: 800</h3>
        </div> -->
      </div>
      <h2><u>Initail Amount</u></h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>No.</th>
            <th>Cashier in Charge</th>
            <th>initial Amount</th>
            <th style="color: #414143;">Total Expenses</th>
            <th style="color: #414143;">Total Expenses</th>
            <th>Total Income</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Juan Dela Cruz</td>
            <td>700.00</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="text-right">
                <h2><strong>Total: </strong></h2>
            </td>
            <td></td>
            <td class="text-left text-primary">
              <h2>
                <strong>700.00</strong>
              </h2>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <h2><u>Transaction</u></h2>
  
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>No.</th>
            <th>Cashier in Charge</th>
            <th style="color: #414143;">Total Expenses</th>
            <th>Total Amount</th>
            <th style="color: #414143;">Total Expenses</th>
            <th style="color: #414143;">Total Expenses</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Juan Dela Cruz</td>
            <td></td>
            <td>700.00</td>
            <td></td>
          </tr>
          <tr>
            <td>2</td>
            <td>Marie De Leon</td>
            <td></td>
            <td>500.00</td>
            <td></td>
          </tr>
          <tr>
            <td>3</td>
            <td>Carlo Katigbak</td>
            <td></td>
            <td>500.00</td>
            <td></td>
          </tr>
          <tr>
            <td class="text-right">
                <h2><strong>Total: </strong></h2>
            </td>
            <td></td>
            <td></td>
            <td class="text-left text-primary">
              <h2>
                <strong>1,700.00</strong>
              </h2>
            </td>
          </tr>
        </tbody>
      </table>

      <h2><u>Expenses</u></h2>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>No.</th>
            <th>Description</th>
            <th style="color: #414143;">Total Amount</th>
            <th style="color: #414143;">Total Expenses</th>
            <th >Total Expenses</th>
            <th style="color: #414143;">Total Income</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Zonrox, Tide Bar</td>
            <td></td>
            <td></td>
            <td>70.00</td>
            <td></td>
          </tr>
          <tr>
            <td>2</td>
            <td>Zonrox, Tide Bar</td>
            <td></td>
            <td></td>
            <td>50.00</td>
            <td></td>
          </tr>
          <tr>
            <td>3</td>
            <td>Zonrox, Tide Bar</td>
            <td></td>
            <td></td>
            <td>30.00</td>
            <td></td>
          </tr>
          <tr>
            <td class="text-right">
                <h2><strong>Total: </strong></h2>
            </td>
            <td></td>
            <td class="text-left text-primary">
                <h2>
                  <strong>700.00</strong>
                </h2>
              </td>
            <td class="text-left text-primary">
              <h2>
                <strong>1,700.00</strong>
              </h2>
            </td>
            <td class="text-left text-danger">
                <h2>
                <strong>150.00</strong>
                </h2>
            </td>
            <td class="text-left text-success">
                <h2>
                <strong>2,250.00</strong>
                </h2>
            </td>
          </tr>
        </tbody>
      </table>
  
     
  
      <div class="receipt-footer">
        <div class="footer-left">
          <p><b>Date :</b> 15 Aug 2016</p>
          <!-- <h5 style="color: rgb(140, 140, 140)">Thanks for Patient!</h5> -->
        </div>
        <div class="footer-right">
          <button
            class="end btn btn-primary mx-2"
            routerLink="/main/tansactionpage/main/view-tran/remittanceview"
          >
            APPROVE
          </button>
          <!-- <button class="end btn btn-success" routerLink="">Print</button> -->
        </div>
      </div>
    </div>
  </div>
  