.pri {
  margin-left: auto;
}

.table-responsive {
  margin-top: 20px;
}

thead th:first-child,
tfoot th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

thead th:last-child,
tfoot th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (max-width: 768px) {
  .table-responsive {
    overflow-x: auto;
  }
}
.dateflick {
  float: right;
  padding-right: 100px;
}
.table-wrapper {
  max-width: 100%;
  overflow-y: scroll;
  height: fit-content;
  max-height: 65.4vh;
  margin-top: 22px;
  /* margin: 15px; */
  padding-bottom: 20px;
  text-align: d-flex;
  scrollbar-width: none; /* For Firefox */
}

.table-wrapper::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}
